.main {
  &__head {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.previous-rulings {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  overflow-x: scroll;

  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    overflow-x: hidden;

    &--list {
      display: block;
      gap: 0;
    }
  }

  @media all and (min-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }
}